<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Contact Us!</h3>
                <address>
                    +55 12 997-411-854
                    <br/>
                    <a href="mailto:ramalho@python.pro.br" class="text-light">ramalho@python.pro.br</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Python Pro. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>