<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Contact Us!</h3>
                <address>
                    +55 45 98808-9339
                    <br/>
                    <a href="mailto:joaozati@gmail.com" class="text-light">joaozati@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %}   . All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>