{% extends "base/base.html" %}
{% block title %}Python Pro - Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-secondary ml-2 mr-2 mb-5" style="--bs-bg-opacity: .30">

            <div class="jumbotron mt-5 mb-5">
                <h2>
                    Python Course with Luciano Ramalho
                </h2>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout
                    called the hero unit and three supporting pieces of content. Use it as a starting point to create
                    something more unique.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    More details about instructor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        Card content
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}