{% extends "base/base.html" %}
{% load static %}
{% load qr_code %}
{% block title %}Python Pro - Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 bg-secondary ml-2 mr-2 mb-5" style="--bs-bg-opacity: .30">

            <div class="jumbotron mt-5 mb-5">
                <h2>
                    Python Course with Luciano Ramalho
                </h2>
                <p>
                    <!-- INICIO DO BOTAO PAGSEGURO -->
                    <h4 class="mt-4">Sing in! Cost of the Bootcamp is R$ 1000,00</h4>
                    <h6 class="mt-4">For Brazilians pay with Pag Seguro</h6>
                    <a c target="_blank" title="Pagar com PagSeguro">
                        <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                    </a>
                    <!-- FIM DO BOTAO PAGSEGURO -->
                    <h6 class="mt-4">For who don't live in Brazil or want some privacy we accept Bitcoin. (Total Amount without fees {{ btc_price }} BTC)</h6>
                {% qr_from_text "bc1qj72vz98dtpgznxc6gr5ag08q484cmdk7dz3n30" size="m" %}
                    <h6 class="mt-4">(Obs: this application is for learning purpose only, <a style="color: red">don't send any money! There's no Course!</a> Any doubt send
                        a email to <a href="mailto:joaozati@gmail.com">joaozati@gmail.com</a>)</h6>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    More details about instructor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
                             class="img-thumbnail float-start me-3"/>
                        Luciano Ramalho is CEO and professor at <a href="https://pythonpro.com.br/">Python Pro</a> and writer
                        of the book <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank">Fluent Python</a>.
                        He was technical director of Brasil Online, abril S/A's first web portal.
                        He has led teams for the Portals IDG Now, BOL, UOL, AOL Brasil and others, using Python
                        since 1998. As an instructor, he served clients such as Citibank, CPqD, Serpro, Globo.com
                        and Itaú. Speaker at international events such as FISL, PyCon US and OSCON.
                        It helped create the Python Brazil Association and was its president. He is
                        a member of the Python Software Foundation and founder of The Garoa Hacker Club, the first
                        hackerspace in Brazil.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}