{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'base:home' %}">
            <img src="{% static 'img/favicon.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Python Pro
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Modules
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        {% for module in MODULES %}
                        <li><a class="dropdown-item" href="{{ module.get_absolute_url }}">{{ module.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        {% else %}
        <a  class="btn btn-light" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</nav>